<h2><%= "#{@bulk_discount.name} Show Page" %></h2>
  <p><b>Deal: </b><%= "#{@bulk_discount.percentage}% off" %></p>
  <p><b>Quantity Required: </b><%= "#{@bulk_discount.quantity_threshold}" %></p>
<p>• <%= link_to "Edit", edit_merchant_bulk_discount_path(@merchant, @bulk_discount) %> •</p>
