<h3>Item Name: <%= @item.name %></h3>
<h3>Description: <%= @item.description %></h3>
<h3>Current Selling Price: <%= "$#{@item.item_unit_price_to_dollars}" %></h3>
<p><%= link_to "Edit Information", "/merchants/#{@merchant.id}/items/#{@item.id}/edit" %></p>
